@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script&family=Lobster&family=Noto+Sans+JP:wght@100&display=swap');

header {
    overflow: hidden;
    background-color: var(--color-primary-bule);
    color: var(--color-primary-red);
    text-align: center;
  }
  
  .header_container {
    height: 65px;
    width: 100%;
    position: relative;
    display: flex;
  }

  .back-button {
    margin-top: 0.2rem;
    margin-left: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    width:15%;
  }

  .title {
    position: relative;
    font-size: 1.4rem;
    font-family: 'Lobster', cursive;
    width:70%;
  }

  .logOut_div {
    position: relative;
    width: 15%;
    text-align: right;
    }


  .logOut_button{
    margin-top: 0.75rem;
    margin-right: 2rem;
    background: var(--color-primary-red);
    color: var(--color-white);
    height:2.5rem;
    width:6rem;
    font-family: 'Lobster', cursive;
    /* font-family: 'Lobster', cursive; */
    border-radius: 3rem;
    font-size: 1.3rem;
  }

  .logOut_button:hover {
    transform: scale(1.2) ;
  }

/* ==================== MEDIA QUERIRES (MEDIUM DEICES) ===================== */
@media screen and (max-width: 1024px) {
 
}

/* ==================== MEDIA QUERIRES (SMALL DEICES) ===================== */
@media screen and (max-width: 600px) {
  header {
    height: 10vh;
  }
  .back-button,
  .logOut_div {
    display: none;
  }
  .title {
    width: 100%;
  }
}
  