@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script&family=Lobster&family=Noto+Sans+JP:wght@100&display=swap');

.signIn_container{
  text-align: center;
  height: 100%;
  position: relative;
}

.signIn_container > div {
    margin-top: 8.5rem;
    background: var(--color-primary) ;
    width: 22rem;
    position: absolute;
    height: 16.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4rem;
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    border: 0.6rem solid var(--color-primary-bule);
  }

  .signIn_body{
    text-align: center;
    color: var(--color-primary-bule);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 1000;
    height: 8%;
  }
  .signIn_text{
    margin-top: 2rem;
    display: block;
  }
  .signIn_icon{
    margin-top: 1rem;
    margin-left: 9.5rem;
    margin-bottom: 1rem;
    transform: rotate(0.5turn);
    display: block;
    animation: 3s ease-in 1s 2 reverse both paused slidein;
  }
  
  .signIn_button{
    background: var(--color-primary-red);
    color: var(--color-white);
    margin: 0 auto;
    margin-bottom: 2rem;
    height:3.5rem;
    width:13rem;
    text-align: center;
    font-family: 'Lobster', cursive;
    border-radius: 3rem;
    font-size: 1.2rem;
  }

  .signIn_button:hover{
    transform: scale(1.2);
  }

  /* ==================== MEDIA QUERIRES (MEDIUM DEICES) ===================== */
  @media screen and (max-width: 1024px) {
    .signIn_container >div{
      margin: 0 auto;
      margin-top: 8.5rem;
      width:22rem;
    }

    .signIn_icon {
      margin-left: 13.5rem;     
    }
  
  }
  
  /* ==================== MEDIA QUERIRES (SMALL DEICES) ===================== */
  @media screen and (max-width: 600px) {
    .signIn_container >div{
      margin: 0 auto;
      margin-top: 9rem;
      width:20rem;
    }
    .signIn_icon {
      margin-left: 9rem;
    }
  }