@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.chat_container {
    width: 40%;
    height: 40rem;
    background: var(--color-light) ;
    display: block;
    left: 55%;
    top: 12%;
    position: fixed;
    border-radius: 1.5rem;
    backdrop-filter: blur(15px);
  }

.chat_title{
    text-align: center;
    color: var(--color-primary-bule);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    height: 8%;
  }

.chat_body{
    height: 80%;
    padding-left: 1.5rem;
}

