@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

  .chat_container {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  gap: 2rem;

  }

  .chat_container > div {
    border-radius: 2rem;
  }

  .chat_box {
    display: grid;
    padding: 10px;
    background: var(--color-light);
    height: 32rem;
    backdrop-filter: blur(15px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
  }

.chat_title{
    text-align: center;
    color: var(--color-primary-bule);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    height: 8%;
    margin-bottom: 1rem;
  }

.chatroom_body{
    height: 92%;
}

form>input {
  height: 3rem;
  font-family: 'Roboto Mono', monospace;
  width:80%;
  /* Green */
  background: var(--color-light);
  backdrop-filter: blur(15px);
  color: var(--color-black);
  outline: none;
  border: none;
}

form>button {
  height: 3rem;
  font-family: 'Dosis', sans-serif;
  background: var(--color-primary-red);
  width:20%;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  color: var(--color-black);
}

/* ==================== MEDIA QUERIRES (MEDIUM DEICES) ===================== */
@media screen and (max-width: 1024px) {
  .chat_container {
  grid-template-columns: 1fr;
  width: 70%;
  }

  .chat_container > div {
    width: 80%;
    margin: 0 auto;
      }

  .chat_box {
    height: 34rem;
  }
}

/* ==================== MEDIA QUERIRES (SMALL DEICES) ===================== */
@media screen and (max-width: 600px) {
  .chat_container {
    width: 85%;
    grid-template-columns: 1fr;
  }
  .chat_container>div {
    width: 100%;
    margin: 0 auto;
  }

  .chat_box {
      height: 34rem;
  }
}